body {
  font-family: Roboto, arial, sans-serif;
}
h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 12px;
  padding-top: 12px;
}

ul {
  list-style: none;
  padding-left: 0px;
  line-height: 1.2;
  color: rgb(135, 135, 135);
  display: block;
  font-size: 16px;
  text-align: left;
  line-height: 1.3;
  font-weight: 400;
}

.city-description {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  font-weight: 400;
}
.box-wrap {
  border: 1px solid #dfe1e6;
  max-width: 618px;
  height: 420px;
  border-radius: 8px;
  line-height: 16.8px;
  padding: 20px 16px 20px 16px;
  text-align: left;
  margin: auto;
  margin-top: 20px;
}
.weather-description {
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.weather-number {
  font-size: 64px;
  line-height: normal;
}
.image {
  margin-top: -30px;
  height: 64px;
  width: 64px;
}
.temp-letters {
  height: 18px;
  margin-top: 6px;
  padding-top: -30px;
}
